html {
  scrollbar-color: lightgray #282c34;
}

body {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  width: 100%;
  min-width: 1700px;
  color: white;
}

.App-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-footer {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.table-cell .num {
  font-size: medium;
  text-align: left;
  padding-left: 0.5rem;
  padding-top: 0.25rem;
}

.symbol {
  font-size: xxx-large;
  font-weight: bold;
}

.symbol.solid {
  color: lightgray;
}

.symbol.liq {
  color: lightcoral;
}

.symbol.gas {
  color: lightblue;
}

.symbol.unknown {
  color: rgb(128, 128, 128);
}

.name {
  font-size: small;
}

.mass {
  font-size: medium;
  padding-top: 0.5rem;
  padding-bottom: 0.25rem;
}

.radio {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 15px;
  height: 15px;
}

img.radio.radio- {
  display: none;
}

.table-cell {
  z-index: auto;
  position: relative;
  background-color: #282c34;
  height: 100%;
  border: 2px solid;
}

.table-cell:has(> .symbol) {
  --c: #6f99b9;
  --b: 5px;
  --g: 0px;
  
  padding: calc(var(--g) + var(--b));
  --_g: #0000 25%,var(--c) 0;
  background: 
    conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g))
     var(--_i,200%) 0  /200% var(--_i,var(--b))  no-repeat,
    conic-gradient(            at bottom var(--b) left  var(--b),var(--_g))
     0   var(--_i,200%)/var(--_i,var(--b)) 200%  no-repeat,
    #282c34;
  transition: .3s, background-position .3s .3s;
}

.table-cell:has(> .symbol):hover {
  z-index: 1000;
  transform: scale(1.5, 1.5);
  transform-origin: center;
  --_i: 100%;
  transition: .3s, background-size .3s .3s;
}

.table-cell:has(> .no-element) {
  border: 0px;
}

.table-cell * {
  display: block;
  text-align: center;
}

#main-table, #la-table {
  width: 100%;
  min-width: 1700px;
  table-layout: fixed;
  padding-bottom: 1rem;
}

#download {
  background-color: #191f2b;
  color: white;
  font-size: large;
  border-radius: 8px;
}